geometry : LHCb
energy : 5
ptRange : 0 20
etaRange : 2 5
paramsDecaying : M, P, PT, PX, PY, PZ, eta, origX, origY, origZ, vtxX, vtxY, vtxZ, FD
paramsStable : P, PT, PX, PY, PZ, eta, origX, origY, origZ, IP
@0
	name : D0_0
@1
	name : Km_0
	smear : LHCbGeneric
@2
	name : mup_0
	smear : LHCbGeneric
@3
	name : numu_0
	smear : LHCbGeneric
	invisible : true
