geometry : LHCb
energy : 5
ptRange : 0 20
etaRange : 2 5
paramsDecaying : M, P, PT, eta, origX, origY, origZ, vtxX, vtxY, vtxZ, FD
paramsStable : P, PT, eta, origX, origY, origZ
@0
	name : D0b_0
@1
	name : Kp_0
	smear : LHCbGeneric
@2
	name : mum_0
	smear : LHCbGeneric
@3
	name : antimnumu_0
	smear : LHCbGeneric
	invisible : true
