geometry : LHCb
energy : 8
ptRange : 0 20
etaRange : 2 5
param : mDimu M 1 2 TRUE
paramsDecaying : M, P, PT, PX, PY, PZ, eta, origX, origY, origZ, vtxX, vtxY, vtxZ, FD
paramsStable : P, PT, PX, PY, PZ, eta, origX, origY, origZ, IP
cut : mDimu range 1 5
@0
	name : gammastar_0
@1
	name : mup_0
	smear : LHCbGeneric
@2
	name : mum_0
	smear : LHCbGeneric
